* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    margin-top: 30px;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
}

h5 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}

header {
    background-color: #003580;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.company_info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 65px;
}

.company_title {
    display: flex;
    gap: 10px;
    padding-top: 25px;
    text-transform: uppercase;
}

.company_title img {
    width: 100px;
}

.company_title p {
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    margin-top: 5px;
}

.contacts {
    margin-left: auto;
    text-align: right;
}

.contacts p {
    font-size: 30px;
    color: #fff;
    font-family: "Noto Sans thin", sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.contacts a {
    font-size: 20px;
    color: #fff;
    border-bottom: thin solid #fff;
}

.hover {
    transition: all 0.2s linear;
    transition-property: color;
}

.hover:hover {
    color: #f9a81b!important;
}

.bordered_hover {
    transition: all 0.2s linear;
    transition-property: color, border-bottom-color;
}

.bordered_hover:hover {
    border-bottom: thin solid #f9a81b!important;
    color: #f9a81b!important;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #306CC0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

nav li {
    font-size: 25px;
}

.separator {
    display: block;
    width: 2px;
    height: 31px;
    content: '';
    background: #ffffff;
}

nav a {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.anim_hover {
    transition: all 0.2s linear;
    transition-property: color;
}

.anim_hover:hover {
    color: #f9a81b;
}

.anim_hover::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #f9a81b;
    transition: width .3s;
}

.anim_hover:hover::after {
    width: 100%;
    transition: width .3s;
}

.slider_section .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    z-index: 5000;
}

.slider {
    position: relative;
}

.slider_item {
    height: 400px;
}

.slider_section .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
}

.slider_section .slick-arrow.slick-prev {
    left: 10px;
    background: url("../img/arrow-left.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-next {
    right: 10px;
    background: url("../img/arrow-right.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-prev:hover {
    background: url("../img/arrow-selected-left.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-next:hover {
    background: url("../img/arrow-selected-right.png") 0 0 / 100% no-repeat;
}

.slider_item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider_section .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slider_section .slick-dots li {
    margin: 0 10px;
}

.slider_section .slick-dots button {
    font-size: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: 0;
}

.slider_section .slick-dots button:hover {
    background-color: #f9a81b;
}

.slider_section .slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    border: 2px solid #f9a81b;
}

.section_path {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section_path a, .section_path text {
    font-size: 16px;
    color: #002353;
    font-weight: normal;
}

.selected {
    color: #f9a81b !important;
    border-bottom: thin solid #f9a81b !important;
    pointer-events: none;
    cursor: default;
}

.scale_hover {
    transition: all 0.3s ease-in-out;
}

.scale_hover:hover {
    transform: scale(1.03);
    box-shadow: 0 0 7px rgba(39, 39, 39, 0.64);
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #002353;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container > * {
    flex-basis: 25%;
}

footer .container * {
    font-size: 14px;
    color: #fff;
}

.footer_company_info p, .footer_nav li, .about_developer .developer_link {
    margin-bottom: 10px;
}

.footer_company_info p:last-child, .footer_nav li:last-child {
    margin-bottom: 0;
}

footer p {
    line-height: 180%;
}

footer a {
    border-bottom: thin solid #fff;
}

#fog {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 300ms;
    transition-property: opacity;
}

#feedback_form_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9a81b;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#feedback_form_div {
    width: 100%;
    background-color: #002353;
    border-radius: 5px;
    padding: 5px;
}

#feedback_form {
    text-align: center;
}

#close_div {
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

#close_button {
    margin-left: auto;
    width: 25px;
    height: 25px;
    background: url("../img/close-form.png") no-repeat center / cover;
}

#close_button:hover {
    background: url("../img/close-form-selected.png") no-repeat center / cover;
}

#inputs_div {
    padding-left: 15px;
    padding-right: 15px;
}

#inputs_div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

#inputs_div label, #send_feedback_button {
    margin-bottom: 10px;
}

#inputs_div input {
    height: 24px;
    border: none;
    border-radius: 2px;
    padding: 2px;
}

#inputs_div input:invalid {
    box-shadow: inset 0 0 7px rgba(159, 9, 16, 0.7);
}

#inputs_div textarea {
    height: 150px;
    border-radius: 2px;
    resize: none;
    padding: 2px;
}

#send_feedback_button {
    width: 30%;
    height: 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
    background-color: #002353;
    border: thin solid #fff;
    transition: all 0.2s linear;
    transition-property: color, border-bottom-color, border-left-color, border-top-color, border-right-color;
}

#send_feedback_button:hover {
    color: #f9a81b;
    border: thin solid #f9a81b;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans thin";
    src: url("../fonts/NotoSansJP-Thin.otf");
}