@media only screen and (max-width: 820px) {
    .catalog_item_background {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 560px) {
    .catalog_item_background {
        flex-basis: 80%;
    }

    .company_desc {
        row-gap: 25px;
    }

    .company_desc text {
        flex-basis: 100%;
    }

    .placeholder {
        display: none!important;
    }
}