* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

header {
    background-color: #003580;
}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.company_info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 65px;
}

.company_title {
    display: flex;
    gap: 10px;
    padding-top: 25px;
    text-transform: uppercase;
}

.company_title img {
    width: 100px;
}

.company_title p {
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    margin-top: 5px;
}

.contacts {
    margin-left: auto;
    text-align: right;
}

.contacts p {
    font-size: 30px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.contacts a {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    border-bottom: thin solid #fff;
}

.contacts a:hover {
    color: #f9a81b;
    border-bottom: thin solid #f9a81b;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #306CC0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

nav li {
    list-style-type: none;
    font-size: 25px;
}

.separator {
    display: block;
    width: 2px;
    height: 31px;
    content: '';
    background: #ffffff;
}

nav a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

nav a:hover {
    color: #f9a81b;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #f9a81b;
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

.slider_section .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    z-index: 1000000;
}

.slider {
    position: relative;
}

.slider_item {
    height: 400px;
}

.slider_section .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
}

.slider_section .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/arrow-left.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-next {
    right: 0;
    background: url("../img/arrow-right.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-prev:hover {
    background: url("../img/arrow-selected-left.png") 0 0 / 100% no-repeat;
}

.slider_section .slick-arrow.slick-next:hover {
    background: url("../img/arrow-selected-right.png") 0 0 / 100% no-repeat;
}

.slider_item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider_section .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slider_section .slick-dots li {
    list-style-type: none;
    margin: 0 10px;
}

.slider_section .slick-dots button {
    font-size: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: 0;
}

.slider_section .slick-dots button:hover {
    background-color: #f9a81b;
}

.slider_section .slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    border: 2px solid #f9a81b;
}

.content_section {
    background-color: #306CC0;
}

.content_section .container {
    background-color: #fff;
    padding-bottom: 200px;
}

.section_path {
    margin-bottom: 20px;
}

.section_path a, .section_path text {
    font-size: 16px;
    color: #002353;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.section_path a:hover {
    color: #f9a81b;
}

.selected {
    color: #f9a81b !important;
    border-bottom: thin solid #f9a81b !important;
    pointer-events: none;
    cursor: default;
}

.main_content {
    display: flex;
}

.side_navbar {
    flex: 1;
}

.catalog_items {
    flex: 4;
}

.sections_list li {
    list-style-type: none;
}

.sections_list > li {
    margin-bottom: 10px;
}

.sections_list > li:last-child {
    margin-bottom: 0;
}

.section_name {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #002353;
    cursor: pointer;
}

.subsections_list {
    margin-left: 15px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.subsections_list > li {
    margin-top: 3px;
}

.subsection_name {
    list-style-type: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #002353;
}

.section_name:hover, .subsection_name:hover {
    color: #f9a81b;
}