@media (max-width: 1024px) {
    .rooms_images {
        row-gap: 80px;
    }
}

@media (max-width: 820px) {
    .services_section ul {
        row-gap: 80px;
    }

    .services_section li {
        flex-basis: 30%;
    }

    .rooms_images {
        row-gap: 30px;
    }

    .rooms_images img {
        flex-basis: 60%;
    }
}

@media (max-width: 560px) {

    .main_company_desc {
        padding: 20px 10px;
    }

    .services_section li {
        flex-basis: 50%;
    }
}